<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button class="btn btn-outline-primary" type="button">
        <%= link_to 'New Restaurant', new_restaurant_path %>
    </button>
    <button class="btn btn-outline-primary" type="button">
       <%= link_to 'Restaurant List', restaurants_path %> 
    </button>
    </div>
  </form>
</nav>